body{
margin:0 auto;
width:33em;
font-family:Georgia, Times, "Times New Roman", serif;
}
body:before, body:after {
  content:"";
  display:table;
}
body:after { clear:both; }
article {
  display:inline;
  float:left;
  width:700px;
  margin:0 auto;
}
