/* Basic styles */
body{
  max-width:70ch;
  margin: 1rem auto;
  line-height: calc(1ex / 0.36);
}

menu {
  list-style: none;
  padding: 0;
}

menu li {
  display: inline;
  flex-grow: 1;
  align-items: flex-start;
  margin-right: 0.5rem;
}


menu li:before{content:"|";margin-right:0.5rem;}
menu li:first-child:before{content:"";margin-right:0rem;}

footer{
  text-align: center;
}

/* Fonts */
body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: calc(1rem + 0.15vw);
}
pre, code, kbd {font-family: monospace,monospace; }

/* Colors */



body {
  --foreground-color: #0c0c0c;
  background-color: #fcfcfc;
  color: var(--foreground-color);
}

footer {
  border-top: 1px solid var(--foreground-color);
}

h2{
  border-top: 1px solid var(--foreground-color);
  padding-top: 1rem;
}

.project{
  border-top:1px dotted var(--foreground-color);
  padding-top:0.8rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1c;
    --foreground-color: #ececec;
    /* color: #ececec; */

  }
  a {
    color: #ececbc;
  }
  a:hover {
    color: #bcbcbc;
  }
  a:visited{
    color: #acecac;
  }

  img, video, iframe {
      background-color: #fcfcfc;
  }

  pre {
      background-color: #fcfcfc;
  }
  
  li::marker {
      color: var(--foreground-color);
  }

  footer {
    border-top: 1px solid #ececec;
  }



}
