/* Basic styles */
body{
  max-width:65ch;
  margin: 1rem auto;
}

menu {
  list-style: none;
  padding: 0;
}

menu li {
  display: inline;
  flex-grow: 1;
  align-items: flex-start;
  margin-right: 0.5rem;
}


menu li:before{content:"|";margin-right:0.5rem;}
menu li:first-child:before{content:"";margin-right:0rem;}

footer{
  border-top: 1px solid black;
  text-align: center;
}

/* Fonts */
body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
pre, code, kbd {font-family: monospace,monospace;}
