/* Basic styles */

:root {
  --foreground-color: #0c0c0c;
  --background-color: #fcfcfc;
  --hover-color: #444444;
}

h1,h2,h3,h4,nav ul{margin:0;}

body{
  max-width:72ch;
  margin: 1ch auto;
  padding: 1ch;
  line-height: calc(1ex / 0.34);
}

a:hover{
  color: var(--hover-color);
}

#home{margin-bottom:0.5rem;}
#home a{color: var(--foreground-color); text-decoration: none;}
#home a:hover{text-decoration: underline;}

nav ul {
  border-top: 1px solid var(--foreground-color);
  padding: 0;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  list-style: none;
}

nav ul li {
  display: inline;
  flex-grow: 1;
  align-items: flex-start;
  margin-right: 0.5rem;
}



nav ul li:before{content:"|";margin-right:0.5rem;}
nav ul li:first-child:before{content:"";margin-right:0rem;}

.article-list h3{ margin-bottom: 0.5ex;}
.article-list h3 + p{margin-top: 0;}

p {margin: 1ex 0;}

footer{
  text-align: center;
}

/* Fonts */
body{
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', 'Linux Libertine O', 'Gentium Book', serif;
  font-size: calc(1rem + 0.15vw);
}
pre, code, kbd {font-family: monospace,monospace; }



h1 { font-size: 1.74em; }
h2{ font-size: 1.5157em; }
h3{ font-size: 1.3195em; }
h4{ font-size: 1.1487em; }
h5{ font-size: 1em; }

.article-list h3{font-size: 1em;}


/* Colors */



body {
  background-color: #fcfcfc;
  color: var(--foreground-color);
}

footer {
  border-top: 1px solid var(--foreground-color);
}

h2{
  border-top: 1px solid var(--foreground-color);
  padding: 1rem 0;
}

.project,.news{
  border-top:1px dotted var(--foreground-color);
  padding-top:0.8rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1c;
    --foreground-color: #ececec;
    /* color: #ececec; */

  }
  a {
    color: #ececbc;
  }
  a:hover {
    color: #bcbcbc;
  }
  a:visited{
    color: #acecac;
  }

  img, video, iframe {
      background-color: #fcfcfc;
  }

  pre {
      background-color: #fcfcfc;
  }
  
  li::marker {
      color: var(--foreground-color);
  }

  footer {
    border-top: 1px solid #ececec;
  }



}
